.headerIndex {
  background-image: url(../../../assets/headerBg.png);
  background-size: cover;
}
.tituloHeader {
  padding: 152px 65px;
  display: flex;
  flex-direction: column;
  gap: 0;
}
@media screen and (max-width:1100px){
  .headerIndex {
  background-image: url(../../../assets/bgMobileHeader.png);
  background-size: cover;
}
  .tituloHeader{
    padding:50px 16px;
  }
}
