.footer {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.brandFooter img {
  width: 200px;
}
.instagramFooter,
.locationFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.instagramFooter img,
.locationFooter img {
  width: 50px;
}
.instagramFooter a {
  text-decoration: none;
}
@media screen and (max-width:1100px){
  .footer{
    flex-direction:column;
  }
  .footer p{
    font-size:20px;
  }
}
